.kasa-main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.kasa-mainCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    margin-top: 43px;
    padding-bottom: 56px;
    align-content: space-between;
    justify-content: space-around;
    background: #f7f7f7;
    border-radius: 25px;
}
.kasa-mainCardBody {
    border-radius: 10px;
    margin-top: 50px;
    width: 380px;
    height: 380px;
    position: relative;
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.kasa-mainCardImg {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.kasa-mainCardTitle {
    width: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
}

@media screen and (max-width: 768px) {
    .kasa-main {
        margin-left: 0px;
        margin-right: 0px;
    }
    .kasa-mainCard {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        padding-bottom: 22px;

        background: white;
    }
    .kasa-mainCardBody{
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        width: 335px;
        height: 255px;
    }
}
