.kasa-lightbox {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 415px;
}

.kasa-lightboxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: normal;
    border-radius: 25px;
}

.kasa-lightboxArrowLeft {
    position: absolute;
    width: 46.68px;
    height: 79.2px;
    top: 45%;
    left: 1%;
    cursor: pointer;
}

.kasa-lightboxArrowRight {
    width: 46.68px;
    height: 79.2px;
    position: absolute;
    top: 45%;
    right: 1%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .kasa-lightbox {
        margin-left: 20px;
        margin-right: 20px;
        width: 335px;
        height: 255px;
    }

    .kasa-lightboxImg {
        border-radius: 10px;
    }

    .kasa-lightboxArrowLeft {
        width: 12px;
        height: 20px;
    }
    
    .kasa-lightboxArrowRight {
        width: 12px;
        height: 20px;
    }
}