.kasa-logementInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
.kasa-logementText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #ff6060;
    align-self: flex-end;
}
.kasa-logementTitle {
    font-size: 36px;
}
.kasa-logementLocation {
    font-size: 18px;
}
.kasa-logementDescription {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .kasa-logementInfo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
    .kasa-logementText {
        align-self: flex-start;
    }

    .kasa-logementTitle {
        font-size: 18px;
    }

    .kasa-logementLocation {
        font-size: 14px;
        margin-top: 5px;
    }
    .kasa-logementDescription {
        flex-direction: column;
    }
}
