.kasa-rating{
    display: flex;
    margin-right: 100px;
    align-self: center;
}
.kasa-star{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .kasa-rating{
    }
    .kasa-star {
        margin-left: 5px;
    }
    .kasa-star img{
        width: 30px;
        height: 30px;
    }
}