.kasa-tags {
    display: flex;
    color: white;
    margin-top: 23px;
    font-weight: 500;
    font-size: 14px;
}

.kasa-tagsTag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 115px;
    background: #ff6060;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .kasa-tags {
        margin-top: 10px;
        font-size: 10px;
    }
    .kasa-tagsTag {
        width: 84px;
        padding: 2px;
        border-radius: 5px;
    }
}