.kasa-tags {
    display: flex;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.kasa-tagsTag {
    width: 115px;
    height: 25px;
    background: #ff6060;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.kasa-tagsTag p {
    padding-top: 5px;
}